header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  min-width: 360px;
  max-height: 72px;
  padding: 1rem 3rem;
  backdrop-filter: blur(20px);
  z-index: 99;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.header-menu {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin: 0 3rem;
  min-width: 241px;
}

.header-profile {
  display: flex;
  align-items: end;
  column-gap: 0.5rem;
}