.marketplace-title-container {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}

.marketplace-title {
  font-size: 4rem;
}

.opensea-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: right;
}

.nft-container {
  display: flex;
  justify-content: space-between;
}

.nft-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 40%;
}

.nft-title {
  margin-bottom: 2rem;
}

.nft-content {
  font-size: 14px;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.sale-wrapper {
  margin-top: auto;
}

.nft-img {
  max-width: 50%;
}

.flex-sale {
  display: flex;
  justify-content: space-between;
}

.sale-price {
  font-weight: bold;
  font-size: x-large;
}

.data {
  font-weight: bold;
}

.unit {
  font-weight: bold;
  font-size: small;
}

.opensea-available {
  width: 165px;
  border-radius: 5px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

hr {
  margin: 4rem 0;
}