.marketplace-title-container {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.marketplace-title {
  font-size: 4rem;
}

.nft-container {
  display: flex;
  justify-content: space-between;
}

.nft-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 40%;
}

.nft-title {
  margin-bottom: 2rem;
}

.nft-content {
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 2em;
}

.sale-wrapper {
  margin-top: auto;
}

.nft-img {
  max-width: 50%;
}

.flex-sale {
  display: flex;
  justify-content: space-between;
}

.sale-price {
  font-weight: bold;
  font-size: x-large;
}

.data {
  font-weight: bold;
}

.unit {
  font-weight: bold;
  font-size: small;
}

hr {
  margin: 4rem 0;
}