*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

body {
  min-width: 320px;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  padding-top: 72px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-bottom: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  filter: grayscale(1);
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}

button.primary {
  background: black;
  color: white;
  border-radius: 0.25rem;
}

button.secondary {
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.warning {
  color: darkred;
}