* {
  box-sizing: border-box;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

body {
  height:100vh;
}

button {
  cursor: pointer;
}

main {
  width: 1080px;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}
